<body style="font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; background-color:#b6b6b6; margin:0; padding:0; color:#fff;" >
<br><br><br>    
<table width="100%" bgcolor="#b6b6b6" cellpadding="0" cellspacing="0" border="0" class="tableContent bgBody">

    <tbody>
        <tr>
            <td style="padding:50px 0;" >
               
               <table cellpadding="0" cellspacing="0" width="600" height="" border="0" align="center" style="background:#fff;">
			   
                    <tbody>
                    
                        <tr valign="top">
                            <td>
								 
                                <table cellpadding="0" width="100%" cellspacing="0" border="0" class="bg-bg">
                                    
                                    <tbody>
									<tr>
											
											<td width="600">
                                                <img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/Belrium+logo.png" width="" height="" alt="" style="display:block; padding-top:30px;width:100px;margin-left:470px" />
                                                <br><br>
											</td>
                                    </tr>
                                    </tbody>
                                </table>
								<table cellpadding="0" width="100%" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
											<td width="600" style="text-align:center;">
												<p style="color:#000;font-size: 22px;color:#f03a1c;padding:0 10px; text-align:left">Dear {{name}}<span></span>,</p>
												<p style="color:#000;font-size: 20px; text-align:left">&nbsp;&nbsp;You are successfully registered on Belrium Network.</p>
                                                <p style="color:#000;font-size: 19px; text-align:left">&nbsp;&nbsp;All the certificates from this company (like payslip,TC...) will be &nbsp;&nbsp;issued to your Belrium's Wallet.</p>
												<p>{{wallet}}</p>
                                                <p style="color:#000;font-size: 18px; text-align:left">&nbsp;&nbsp;Click here to know more about <a href="https://app.belrium.io/" target="_blank" style="text-decoration:none; color: rgb(252, 6, 6);">Belrium Wallet.</a></p>
                                                
												<div style="height: 40px"></div></td>
												   </tr>
												</tbody>
												  </table>
												 
												<table cellpadding="0" width="100%" cellspacing="0" border="0">
													<tbody>
														<tr style="background-color:#1c2af0;">
														<td style="font-size:14px;color: #fff; width: 70%; padding:15px;">Visit <a href="http://www.belrium.io" target="_blank" style="text-decoration:none; color: #fff;">www.belrium.com</a> | Contact Us | Privacy Policy</td>
															<td width="250"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p> </td>
															<td width="40"><a href="#" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/fb.png" width="26px" height="" alt="" style="display:block;margin:auto; border:0; padding-top:0px; padding-left:0px; " /> </a> </td>
															<td width="40">
																<a href="#" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/twitter.png" width="26px" height="" alt="" style="display:block; border:0;margin:auto;padding-top:0px;padding-right:0px;" /></a>
															</td>
															<td width="40"><a href="#" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/in.png" width="26px" height="" alt="" style="display:block;margin:auto; border:0; padding-top:0px; padding-left:0px; " /> </a> </td>
															<td width="40">
																<a href="#" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/google-plus.png" width="26px" height="" alt="" style="display:block;border:0; margin:auto; padding-top:0px;padding-right:0px;" /></a>
															</td>
															<td width="250"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p> </td>
                                                        </tr>
                                                        
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
								
                            </td>
                        </tr>
                    </tbody>
                    </table>
		</body>			
